html
  height 100%

body
  margin 0 auto

#email-container
  background-color $color-green-light
  padding 1em 0
  width 100%

#content
  margin auto
  background-color $color-gray
  color $color-black
  padding .5em 0
  max-width 600px
  border-radius 5px

h1, h2, h3, h4, h5, h6
  font-family "Geneva", Helvetica, Arial, sans-serif
  color $color-green

p, div, span
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  color $color-black
  font-size 14px

html, body
  overflow-x hidden

a
  color $color-green
  text-decoration none

  &:hover
    color (@color + 10%)
    text-decoration none
