html
  height 100%
  background-color $color-gray

#email-container
  width 100%
  max-width 600px
  margin 0 auto
  color $color-black

h1, h2, h3, h4, h5, h6
  font-family "Geneva", Helvetica, Arial, sans-serif
  color $color-blue

p, div, span
  font-family "Geneva", Helvetica, Arial, sans-serif
  color $color-black

html, body
  overflow-x hidden

a
  color $color-blue
  text-decoration none

  &:hover
    color (@color + 10%)
    text-decoration none
