extends base

block content
  .header
    table.margin-auto
      tr
        td
          img(src='https://cloud.githubusercontent.com/assets/339996/5893295/1f3676b6-a4ac-11e4-898c-45fac2d1cb06.png' height='80px' width='80px')
        td
          h1.extra-massive.light.short.color-green SpeakEasy
          h2.light.color-green-light Here is what happened yesterday

  each message in messages
    .card
      table(width="100%")
        tr
          td.content
            .body= message.text

        tr
          td.user.align-right
            table(width='100%')
              tr
                td(width='100%')
                td
                  img.avatar(src='#{message.avatarUrl}')
                td
                  b.name.large.color-green-light= message.user.name

