$color-green = #214A50
$color-green-light = #1D6A6F
$color-gray = #ECF0F1
$color-gray-dark = #9B9B9B
$color-yellow = #FFA800
$color-pale = #F4F1EA

$colors = color-green $color-green,
  color-green-light $color-green-light,
  color-gray $color-gray,
  color-gray-dark $color-gray-dark,
  color-yellow $color-yellow,
  color-pale $color-pale

for color in $colors
  .{color[0]}
    color color[1]

