.ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.icon-spaced
  :first-child
    margin-right .5em

.centered
  text-align center

.align-left
  text-align left

.align-right
  text-align right

.short
  line-height 1em
