@require '../globals/colors'

.card
  box-sizing border-box
  margin 2em 0
  padding .75em 1.5em
  border-top 1px solid $color-gray-dark
  border-bottom 1px solid $color-gray-dark
  background-color $color-pale
