
<html style="background-color: #ecf0f1; height: 100%; overflow-x: hidden;">
  <head>
    
  </head>
  <body style="overflow-x: hidden;">
    <div id="email-container" style="color: #000; font-family: 'Geneva', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0 auto; max-width: 600px; width: 100%;">
      <div class="content" style="color: #000; font-family: 'Geneva', Helvetica, Arial, sans-serif; font-size: 14px;">
      </div>
      <div class="footer" style="color: #000; font-family: 'Geneva', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; margin: 2em; padding: 1em;">
        <div class="mission" style="color: #000; font-family: 'Geneva', Helvetica, Arial, sans-serif; font-size: 13px;">Keep in touch with Speakeasy.</div><br style="font-size: 13px;">
        <div class="unsubscribe" style="color: #000; font-family: 'Geneva', Helvetica, Arial, sans-serif; font-size: 13px;">Are these emails too distracting? Can't keep up?&nbsp;<a href="" style="color: #227fbb; font-size: 13px; text-decoration: none;">Unsubscribe now.</a></div>
        <div class="address" style="color: #333; font-family: 'Geneva', Helvetica, Arial, sans-serif; font-size: 13px;">SpeakEasy 2015</div>
      </div>
    </div>  </body>
</html>
